h body {
	background-color: red;
	
}
h1 {
	font-family: fantasy;
}
p {
	background-color: #00ffff;
}

.title {
	background-color: #000000;
	color: #FFFFFF;
}
.paire {
	background-color: #EFEFEF
}
.impaire {
	background-color: #CECECE
}